<link rel="stylesheet" href="/stylesheets/order.css">


<form action="/user/basketOrder/<%=recipe[0].basket_num%>" method="POST">


<script type="text/javascript" src="/javascripts/orderDetail.js"></script>

    <div class="container">
        <div class="purchase">
            <%for(i = 0; i < recipe.length; i++){%>
            <div class="view" style="border-bottom: 3px solid orangered;">
                <div class="goods-img">
                    <img src="/images/tomato.png" alt="">
                </div>

                <div class="goods-content">
                    <h3>
                        <p><%=recipe[i].recipe_name%></p>
                    </h3>

                

                    <div class="info">
                        sub info
                    </div>

                    <div class="price-box">
                        <h3><%=recipe[i].recipe_money%>원</h3>
                    </div>

                    <div class="price-total">
                        <div class="price-zone">
                            <h3>수량 : </h3>
                            <div class="count">
                                <input type="text" id="order_count" name="amount" value="<%=recipe[i].basket_sum%>" readonly style="outline: none;">
                            </div>
                        </div>
                        <div class="total-price">
                            금액 : <input type="text" class="price" name="price" value="<%=recipe[i].basket_sum*recipe[i].recipe_money%>원" readonly style="outline: none;">
                        </div>
                    </div>
                </div>
            </div>
            <%}%>

       </div>
    </div>
   

    <div class="container">
        <div class="info-container">
            <div class="title">
                <h3>배송지 정보</h3>
            </div>
            <input type="hidden" id="myAddrData" value="<%=JSON.stringify(place)%>">

            <div class="content">
                <div class="detail">
                    <label for="">배송지 : </label>
                    <select name="order" class="order" id="order-addr" onchange="addr()">
                       
                        <% for(var i = 0; i < place.length; i++) { %>
                        <option value="<%=place[i].place_id%>"><%=place[i].place_num%></option>
                        <% } %>
                    </select>
                </div>

                <div class="detail">
                    <label for="">우편번호 : </label>
                    <input type="text" id="shipping_num" name="place_num" value="<%=place[0].place_num%>" readonly required="required">
                </div>

                <div class="detail">
                    <label for="">기본주소 : </label>
                    <input type="text" id="basic_addr" name="place_addr" value="<%=place[0].place_addr%>" readonly
                        required="required">
                </div>

                <div class="detail">
                    <label for="">상세주소 : </label>
                    <input type="text" id="detail_addr" name="place_addrinfo" value="<%=place[0].place_addrinfo%>" readonly
                        required="required">
                </div>
            </div>

        </div>

        <div class="info-container">
            <div class="title">
                <h3>카드 정보</h3>
            </div>
            <input type="hidden" id="myCardData" value="<%=JSON.stringify(card)%>">

            <div class="content">
                <div class="detail">
                    <label for="">카드 : </label>
                    <select name="order" class="order" id="order-card" onchange="card()">
                        
                        <% for(var i = 0; i < card.length; i++) { %>
                        <option value="<%=card[i].card_num%>"><%=card[i].card_date%>  <%=card[i].card_cvc%></option>
                        <% } %>
                    </select>
                </div>

                <div class="detail">
                    <label for="">카드번호 : </label>
                    <input type="text" id="card_num" name="card_num" value="<%=card[0].card_num%>" readonly required="required">
                </div>

                <div class="detail">
                    <label for="">유효기간 : </label>
                    <input type="text" id="card_date" name="card_date" value="<%=card[0].card_date%>" readonly
                        required="required">
                </div>

                <div class="detail">
                    <label for="">카드종류 : </label>
                    <input type="text" id="card_type" name="card_type" value="<%=card[0].card_kind%>" readonly
                        required="required">
                </div>
            </div>

            <div class="choice">
                <button type="submit" class="choice-btn">주문하기</button>
            </div>

        </div>
    </div>
</form>