
<div class="box">
    <div class="section-title">
        <h1>장바구니 조회</h1>
    </div>

    <div class="content">
        <table class="table">
            <colgroup>
                <col style="width:auto">
                <col style="width:14%">
                <col style="width:14%">
                <col style="width:14%">
                <col style="width:10%">
                <col style="width:11%">

            </colgroup>

            <thead>
                <tr>
                    <th scope="col">상품정보</th>
                    <th scope="col">상품금액</th>
                    <th scope="col">수량</th>
                    <th scope="col">주문금액</th>
                    <th scope="col" colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < myPageInfo.basketData.length; i++) { %>
                <tr>
                    <td>
                        <div class="row">
                            <img src="<%= myPageInfo.basketData[i].image_path%>" alt="" class="gift-img">
                            <ul>
                                <li><a href="/list/detail/<%= myPageInfo.basketData[i].recipe_num%>"><%= myPageInfo.basketData[i].chef_name%></a></li>
                                <li><a href="/list/detail/<%= myPageInfo.basketData[i].recipe_num%>"><%= myPageInfo.basketData[i].recipe_name%></a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <% var price = myPageInfo.basketData[i].recipe_money %>
                        <% if(price > 1000) { %>
                        <% price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
                        <% }%>
                        <%=price%>원
                    </td>
                    <td>
                        <div class="count">
                            <input type="number" id="order_count" value="1" min="1">
                            <span>
                                <button value="증가" onclick="count_up()"></button>
                                <button value="감소" onclick="count_down()"></button>
                            </span>
                        </div>
                    </td>
                    <td>
                        <% var price = myPageInfo.basketData[i].recipe_money * myPageInfo.basketData[i].basket_sum  %>
                        <% if(price > 1000) { %>
                        <% price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
                        <% }%>
                        <%=price%>원
                    </td>
                    <td>
                        <button class="btn">주문하기</button>
                    </td>
                    <td>
                        <button class="btn">주문취소</button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <div class="allOrder">
            <button class="btn">주문하기</button>
        </div>
    </div>
</div>