<link rel="stylesheet" href="/stylesheets/chefDetail.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1><%= chefDetailInfo.chefName[0].user_name%> 쉐프</h1>

<div class="container">
    <% for(var i = 0; i < chefDetailInfo.recipeInfo.length; i++) { %>
        <div class="card">
            <a href="/list/detail/<%= chefDetailInfo.recipeInfo[i].recipe_num%>"><img src="/images/productImage/<%= chefDetailInfo.recipeInfo[i].image_path%>" alt="" class="card-image"></a>

            <div class="card-content">
                <p><%= chefDetailInfo.recipeInfo[i].recipe_name%></p>
                <p>
                    <a href="/">
                        <%= chefDetailInfo.chefName[0].user_name%>
                    </a>
                </p>
            </div>

            <div class="card-info">
                <span>
                    <% var rating = Math.round(chefDetailInfo.recipeInfo[i].recipe_score) %>
                    <% for(var j = 0; j < 5; j++) { %>
                        <% if(j < rating) { %>
                            <i class="material-icons" style="color: orange;">star</i>
                        <% } else { %>
                            <i class="material-icons" style="color: #000;">star</i>
                        <% } %>
                    <% } %>
                    <p><%= chefDetailInfo.recipeInfo[i].recipe_score%></p>
                </span>
                <div>
                    <a href="/list/detail/<%= chefDetailInfo.recipeInfo[i].recipe_num%>" class="card-link">상세보기</a>
                </div>
            </div>
        </div>
    <% } %>
</div>