<link rel="stylesheet" href="/stylesheets/list.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>분류</h1>

<% console.log(cc) %>
<% if(cc==0) { %>
    <% var count = -80 + (40 * cc) %>
<% } else if (cc==1) { %>
    <% var count = -80 + (40 * cc) %>
<% } else if (cc==2) { %>
    <% var count = -80 + (40 * cc) %>
<% } else if (cc==3) { %>  
    <% var count = -80 + (40 * cc) %>
<% } else { %> 
    <% var count = -80 + (40 * cc) %>
<% } %>


<style>
    .category .lined {
        margin-left: <%=count%>%
    }
</style>

<div class="category">
    <a href="/list">전체</a>
    <a href="/ko">한식</a>
    <a href="/ch">중식</a>
    <a href="/ja">일식</a>
    <a href="/us">양식</a>
    
    <div class="lined"></div>
</div>

<div class="container">
    <% for(var i = 0; i < selectList.length; i++) { %>
        <div class="card">
            <a href="/list/detail/<%=selectList[i].recipe_num%>"><img src="/images/productImage/<%=selectList[i].image_path%>" onerror="this.src='/images/tomato.png'" alt="" class="card-image"></a>

            <div class="card-content">
                <p><%=selectList[i].recipe_name%></p>
                <p>
                    <a href="#">
                        <%=selectList[i].user_id%>
                    </a>
                </p>
            </div>

            <div class="card-info">
                <span>
                    <% var rating = Math.abs(selectList[i].recipe_score) %>
                    <% for(var j = 0; j < 5; j++) { %>
                        <% if(j < rating) { %>
                            <i class="material-icons" style="color: orange;">star</i>
                        <% } else { %>
                            <i class="material-icons" style="color: #000;">star</i>
                        <% } %>
                    <% } %>
                    <p><%=selectList[i].recipe_score%></p>
                </span>
                <div>
                    <a href="/list/detail/<%=selectList[i].recipe_num%>" class="card-link">View</a>
                </div>
            </div>
        </div>
    <% } %>
</div>

