<link rel="stylesheet" href="/stylesheets/detail.css">
<script type="text/javascript" src="/javascripts/count.js"></script>
<script type="text/javascript" src="/javascripts/order.js"></script>

<div class="container">
    <div class="view">
        <div class="goods-img">
            <img src="/images/productImage/<%=Detail.image[0].image_path%>" onerror="this.src='/images/tomato.png'" alt="">
        </div>

        <div class="goods-content">

            <h3>
                <p><%=Detail.DetailInfo.recipe_name%></p>
            </h3>

            <div class="info">
                <%=Detail.DetailInfo.recipe_content%>
            </div>

            <div class="price-box">
                <h3>가격 <%=Detail.DetailInfo.recipe_money%>원</h3>
            </div>

            <div class="rating">
                <%=Detail.DetailInfo.recipe_score%>
            </div>

            <div class="price-total">
                <div class="price-zone">
                    <h3>수량 : </h3>
                    <div class="count">
                        <input type="number" id="order_count" value="1" min="1">
                        <span>
                            <button value="증가" onclick="count_up()"></button>
                            <button value="감소" onclick="count_down()"></button>
                        </span>

                        
                    </div>
                </div>
                <div class="total-price">
                    금액 : <input type="text" class="price" value="<%=Detail.DetailInfo.recipe_money%>" id="money" readonly style="outline: none;">
                </div>
            </div>

            <div class="choice">
                <button class="choice-btn" onclick="basket('/basket/<%=Detail.DetailInfo.recipe_num%>', 'amount');">장바구니</button>
                <button class="choice-btn" onclick="order('/order/order/<%=Detail.DetailInfo.recipe_num%>/', 'amount');">바로주문</button>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="review">
        <div class="title">
            <h3>리뷰</h3>
            <% console.log(Detail.Count.count)%>
            <p>개수 <%=Detail.Count.count%></p>
        </div>

        <% for(var i = 0; i < Detail.Review.length; i++) { %>
        <div class="review-content">
            <div class="review-detail">
                <img src="/images/tomato.png" alt="" class="review-img">
                <h3><%=Detail.Review[i].user_id%></h3>
                <span>
                    <%=Detail.Review[i].review_score%>
                </span>
                <p><%=Detail.Review[i].review_date%></p>
            </div>

            <div class="content">
                <p><%=Detail.Review[i].review_content%></p>
            </div>
        </div>
        <% } %>

    </div>
</div>

<div class="container">
    <div class="title">
        <h3>재료</h3>
    </div>
    <div class="ingre-container">
        <div class="ingredient">
            <dl>
                <dt>
                    [재료]
                </dt>
                <dd>
                    <% for (var i = 0; i < Detail.ing.length; i++) { %>
                        <%= Detail.ing[i].in_name %> <%= Detail.ing[i].in_re_sum%>
                    <% } %>
                    
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="container">
    <div class="title">
        <h3>상세정보</h3>
    </div>
    <% for(var i = 0; i < Detail.image.length; i++) { %>
    <div class="step">
        <div class="step-count">
            <h3><%=i+1%></h3>
            <p><%=Detail.image[i].image_content%></p>
        </div>

        <div class="step-img">
            <img src="/images/productImage/<%=Detail.image[i].image_path%>" onerror="this.src='/images/tomato.png'" alt="">
        </div>
    </div>
    <% } %>
</div>

