<link rel="stylesheet" href="/stylesheets/main.css">

<h1>추천 레시피</h1>
<div class="container">


    <% for(var i = 0; i < 3; i++) { %>
    <a href="/list/detail/<%=Info.scoreInfo[i].recipe_num%>">
        <div class="card">
            <div class="card-image" style="grid-area: image;
        background: url('/images/<%=i%>.jpg');
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;">
            </div>

            <div class="card-text">
                <span class="date">4days ago</span>
                <h2><%=Info.scoreInfo[i].recipe_name%></h2>
                <p><%=Info.scoreInfo[i].recipe_content%></p>
            </div>

            <div class="card-stats">
                <div class="stat">
                    <div class="value"><%=Info.scoreInfo[i].count%></div>
                    <div class="type">주문 수</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">리뷰 수</div>
                </div>
                <div class="stat">
                    <div class="value"><%=Info.scoreInfo[i].recipe_score%></div>
                    <div class="type">평점</div>
                </div>
            </div>
        </div>
    </a>
    <% } %>


</div>