<link rel="stylesheet" href="/stylesheets/orderList.css">
<link rel="stylesheet" href="/stylesheets/basketList.css">
<link rel="stylesheet" href="/stylesheets/mycard.css">
<link rel="stylesheet" href="/stylesheets/MyPage.css">
<% var pageCount = 1 %>
<style>
    .sidebar a:nth-child(<%=pageCount %>) {
        color: orangered;
    }
</style>

<div class="mypage">


    <div class="user">
        <div>
            <h1>송성헌님의 MyPage</h1>
            <a href="#">수정하기</a>
        </div>
    </div>

    <div class="mypage-content">
        <div class="sidebar">
            <a href="#">주문 내역 조회</a>
            <a href="#">장바구니 조회</a>
            <a href="#">구매 후기</a>
            <a href="#">카드 내역</a>
            <a href="#">배송지 내역</a>
        </div>

        <div class="container">
            <% if(pageCount == 1) { %>
            <%- include('../views/orderList')%>
            <% } else if(pageCount == 2) { %>
            <%- include('../views/basketList')%>
            <% } else if(pageCount == 3) { %>
            <%- include('../views/orderReview')%>
            <% } else if(pageCount == 4) { %>
            <%- include('../views/mycard')%>
            <% } else if(pageCount == 5) { %>
            <%- include('../views/myaddr')%>
            <% } else { %>
            <%- include('../views/orderList')%>
            <%- include('../views/basketList')%>
            <%- include('../views/orderReview')%>
            <%- include('../views/mycard')%>
            <%- include('../views/myaddr')%>
            <% } %>
        </div>
    </div>
</div>