
<div class="box">
    <div class="section-title">
        <h1>주문 내역 조회</h1>
    </div>

    <div class="content">
        <table class="table">
            <colgroup>
                <col style="width:auto">
                <col style="width:14%">
                <col style="width:14%">
                <col style="width:14%">
                <col style="width:10%">
                <col style="width:11%">

            </colgroup>

            <thead>
                <tr>
                    <th scope="col">상품정보</th>
                    <th scope="col">주문일자</th>
                    <th scope="col">주문번호</th>
                    <th scope="col">주문금액<br>(수량)</th>
                    <th scope="col" colspan="2">주문상태</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < myPageInfo.orderData.length; i++) { %>
                <tr>
                    <td>
                        <div class="row">
                            <img src="<%= myPageInfo.orderData[i].image_path%>" alt="" class="gift-img">
                            <ul>
                                <li><a href="/list/detail/<%= myPageInfo.orderData[i].recipe_num%>"><%= myPageInfo.orderData[i].chef_name%></a></li>
                                <li><a href="/list/detail/<%= myPageInfo.orderData[i].recipe_num%>"><%= myPageInfo.orderData[i].recipe_name%></a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <%= myPageInfo.orderData[i].order_date%>
                    </td>
                    <td>
                        <%= myPageInfo.orderData[i].order_num%>
                    </td>
                    <td>
                        <% var price = myPageInfo.orderData[i].order_max %>
                        <% if(price > 1000) { %>
                        <% price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') %>
                        <% }%>
                        <%=price%>원<br><%= myPageInfo.orderData[i].order_sum%>개
                    </td>
                    <td>
                        <%= myPageInfo.orderData[i].order_state%>
                    </td>
                    <td>
                        <% if (false) { %>
                        <button class="btn">후기작성</button>
                        <% } else { %>
                        <button class="btn" onclick="location.href='/user/order/delete/<%= myPageInfo.orderData[i].order_num%>/<%= myPageInfo.orderData[i].recipe_num%>'">삭제</button>
                        <% } %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>