
<div class="box">
    <div class="section-title">
        <h1>구매 후기</h1>
    </div>

    <div class="content">
        <table class="table">
            <colgroup>
                <col style="width: auto">
                <col style="width:40%">
                <col style="width:45%">

            </colgroup>

            <thead>
                <tr>
                    <th scope="col">상품정보</th>
                    <th scope="col">내용</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < myPageInfo.orderReviewData.length; i++) { %>
                <tr>
                    <td>
                        <div class="row">
                            <img src="<%= myPageInfo.orderReviewData[i].image_path%>" alt="" class="gift-img">
                            <ul>
                                <li><a href="/list/detail/<%= myPageInfo.orderReviewData[i].recipe_num%>"><%= myPageInfo.orderReviewData[i].chef_name%></a></li>
                                <li><a href="/list/detail/<%= myPageInfo.orderReviewData[i].recipe_num%>"><%= myPageInfo.orderReviewData[i].recipe_name%></a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <span>
                            <%= myPageInfo.orderReviewData[i].review_title%>
                        </span>
                        <p><%= myPageInfo.orderReviewData[i].review_content%></p>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>