<link rel="stylesheet" href="/stylesheets/ranking.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>랭킹</h1>

<div class="container">
    <% for(var i = 0; i < ranking.length; i++) { %>
        <div class="card">
            <p class="ranking"><%=i+1%></p>
            <a href="/list/detail/<%=ranking[i].recipe_num%>"><img src="/images/productImage/<%=ranking[i].image_path%>" onerror="this.src='/images/tomato.png'" alt="" class="card-image"></a>

            <div class="card-content">
                <p><%=ranking[i].recipe_name%></p>
                <p>
                    <a href="#">
                        <%=ranking[i].user_id%>
                    </a>
                </p>
            </div>

            <div class="card-info">
                <span>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <i class="material-icons" style="color: orange;">star</i>
                    <p>(<%=ranking[i].recipe_score%>)</p>
                </span>
                <div>
                    <a href="/list/detail/<%=ranking[i].recipe_num%>" class="card-link">View Article</a>
                </div>
            </div>
        </div>
    <% } %>
</div>