<link rel="stylesheet" href="/stylesheets/review.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>후기</h1>

<div class="container">
    <% for(var i = 0; i < review.length; i++) { %>
    <div class="card">
        <a href="/list/detail/<%=review[i].recipe_num%>"><img src="/images/productImage/<%=review[i].image_path%>" onerror="this.src='/images/tomato.png'" alt="" class="card-image"></a>

        <div class="card-content">
            <p><%=review[i].review_content%></p>
        </div>

        <div class="card-info">
            <div class="user_info">

                <p><%=review[i].user_id%></p>

                <span>
                    <% var rating = Math.round(review[i].review_score) %>
                    <% for(var j = 0; j < 5; j++) { %>
                        <% if(j < rating) { %>
                            <i class="material-icons" style="color: orange;">star</i>
                        <% } else { %>
                            <i class="material-icons" style="color: #000;">star</i>
                        <% } %>
                    <% } %>
                    <p>(<%=review[i].review_score%>)</p>
                </span>
            </div>
            <p><%=review[i].review_date%></p>
        </div>
    </div>
    <% } %>
</div>